.h1 Me
.heythere
  Hey there
  %strong= @current_user.username
  here's your profile.  Add wods, update your info, update wods - get Wodding! 

- if flash[:wod_deleted]
  %div
    %i Wod successfully deleted.
  %br

- if flash[:donated]
  %div
    %i Thanks for your donation! Get started saving your favorite wods! If you run into any problems trying to save wods just shoot us an email at
    %a{ :href => "mailto:crossfitwodder@gmail.com" } crossfitwodder@gmail.com
    and we'll get the situation resolved asap.
  %br

.gymusershow
  .title
    = @current_user.username
    %span.link= link_to "edit profile", edit_current_user_path
    %span.link= link_to "new wod", new_wod_path

%br

%strong my wods
.wods
  - unless @current_user.has_wods?
    %i no wods yet!
    = link_to 'create a new wod', new_wod_path
  - @current_user.wods.each do |wod|
    = render :partial => "shared/wod", :locals => { :wod => wod }

%br

%strong my saved wods
- unless @current_user.has_saved_wods?
  %div
    %i no wods yet!
    %a{ :href => "#" } users who donate $5 or more to Crossfit Wodder are able to save wods
- @current_user.saved_wods.each do |wod|
  = render :partial => "shared/wod", :locals => { :wod => wod }
