%h1 Users#index
%h2 welcome #{@current_user.username} (#{@current_user.email})

= link_to 'add new wod', new_wod_path
%h3 my wods
%ul
  - @current_user.user_wods.each do |wod|
    %li
      = wod.workout
      = link_to 'delete', wod_path(wod), :confirm => "Are you sure?", :method => :delete
