.gymusershow.user
  .title
    = @user.username
    %span.link= link_to "all users", users_path
    %span.link= link_to "all wods", wods_path

  .recent-wods
    .text 
      most recent wod
      - if @wod
        = " - added #{time_ago_in_words(@wod.created_at)} ago"
    - if @wod
      = render :partial => "shared/wod", :locals => { :wod => @wod }
    - else
      %i no wods yet!

  - if @current_user.present? and @current_user.is_admin?
    .admin
      .h2 Admin
      %div= @user.email
      %div= "created: #{time_ago_in_words(@user.created_at)}"
      %div= "wods: #{@user.wods.count}"
      %div= "comments: #{@user.comments.count}"
      %div= "paid: #{@user.is_paid?}"
      - if @user.is_paid?
        %div= "saved: #{@user.saved_wods.count}"
