- if flash[:must_be_signed_in]
  .notice
    %i You must be signed in to do that! Signin above or signup below - it's free and easy!

= form_for(@user) do |u|
  - if @user.errors.any?
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

  %div= u.label :email
  %div= u.text_field :email

  %div= u.label :username
  %div= u.text_field :username

  %div= u.label :password
  %div= u.password_field :password

  %div= u.label :password_confirmation
  %div= u.password_field :password_confirmation 

  %div= u.submit 'Signup'
