#header
  #title
    crossfit wodder
    .sub all of today's wods, all in place
  #status
    - if @current_user.blank?
      = render "shared/signupin_form"
    - else
      hi
      = link_to @current_user.username, current_user_path
      not you?
      = link_to 'signout', signout_users_path
  #nav
    = link_to 'all wods', wods_path
    |
    = link_to 'gym wods', gym_wods_path
    |
    = link_to 'user wods', user_wods_path
    |
    = link_to 'gyms', gyms_path
    |
    = link_to 'users', users_path
    |
    = link_to 'new gym', new_gym_path
    |
    = link_to 'new wod', new_wod_path
    - if @current_user.present?
      |
      = link_to 'my profile', current_user_path
    - if @current_user.present? and @current_user.admin?
      |
      = link_to 'admin', admin_gym_path
