.wod
  .points
    - unless wod.has_point_from_user?(@current_user)
      .upvote= link_to '▲', wods_path
    .count= wod.points
  .content
    - unless defined? hide_header and hide_header
      .header
        - if wod.is_a?(GymWod)
          = link_to wod.gym.name, gym_path(wod.gym)
        - elsif wod.is_a?(UserWod)
          = link_to wod.user.username, user_path(wod.user)
    .workout!= wod.workout
