!!!
%html
%head
  %title Crossfit Wodder
  = stylesheet_link_tag 'reset'
  = yield :css
  = javascript_include_tag :defaults
  = yield :js
  = csrf_meta_tag
%body
  = render "shared/header"
  = yield
